---
http_interactions:
- request:
    method: get
    uri: http://www.fandango.com/rss/moviesnearme_123BADZIP.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <rss version="2.0"><channel><title>Fandango.com Movies Near Me</title><link><![CDATA[http://www.fandango.com/movietimes?wssaffid=11836&wssac=123]]></link><description>Review
        movie listings for local theaters near you on Fandango.com</description><language>en-us</language><copyright>Copyright
        2012 Fandango</copyright><pubDate>Mon, 28 May 2012 16:40:57 GMT</pubDate><ttl>1440</ttl><image><url>http://images.fandango.com/r87.6/images/global/fandango_rss_logo.gif</url><title>Fandango.com
        Movies Near Me</title><link><![CDATA[http://www.fandango.com/movietimes?wssaffid=11836&wssac=123]]></link></image></channel></rss>
  recorded_at: Mon, 28 May 2012 16:40:58 GMT
recorded_with: VCR 2.1.1
